{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
  <div class="row">
    <h1 class="light center-align">Compras realizadas</h1>

    <a href="{{path('lista_compras')}}">Volver al listado</a>
    <div class="col s12 m8">
      <!-- ITEMS DEL CARRITO -->
      <div class="col s12">
        <div class="card hoverable darken-1">
          <div class="card-content">
            <span class="card-title">LATAM Airlines</span>
            <span class="badge">$4.200</span>
            <div class="row no-margin">
              <div class="col s10 no-margin">
                <div class="col s6">
                  <span class="left">
                    <i class="material-icons left">airplanemode_active</i>
                    SALIDA <b>{{ "now"|date("m/d/Y") }}</b>- {{ "now"|date("H:m") }} HS
                  </span>
                </div>
                <div class="col s6">
                  <span class="right">
                    <i class="material-icons left">airplanemode_active</i>
                    LLEGADA <b>{{ "now"|date("m/d/Y") }}</b>- {{ "now"|date("H:m") }} HS
                  </span>
                </div>
              </div>

            </div>
            <div class="row no-margin">
              <div class="col s10">
                <div class="col s4">
                  <span class="left" style="border: 1px solid #c2595e; padding: 10px;">Buenos Aires</span>
                </div>
                <div class="col s4 hours">
                  <hr>
                  <span class="center-align">11hs 25min</span>
                </div>
                <div class="col s4">
                  <span class="right" style="border: 1px solid #c2595e; padding: 10px;">San José</span>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="col s12">
        <div class="card hoverable darken-1">
          <div class="card-content valign-wrapper">
            <div class="col s2 center">
              <i class="material-icons large t-rojo">hotel</i>
            </div>
            <div class="col s10">
              <span class="card-title">Hotel La Casa de Carmen</span>
              <span class="badge">$4.200</span>
              <div class="col s3">
                <p>
                  <span>Desde</span>
                  <span style="border: 1px solid #c2595e; padding: 10px;"> 10/12/2017 </span>
                </p>
              </div>
              <div class="col s4 hours">
                <hr>
                <!-- <span class="center-align">7 dias</span> -->
              </div>
              <div class="col s3">
                <p>
                  <span>Hasta</span>
                  <span style="border: 1px solid #c2595e; padding: 10px;"> 17/12/2017 </span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col s12">
        <div class="card hoverable darken-1">
          <div class="card-content valign-wrapper">
            <div class="col s2 center">
              <i class="material-icons large t-rojo">directions_car</i>
            </div>
            <div class="col s10">
              <span class="card-title">Rent-A-Car</span>
              <span class="badge">$2.250</span>
              <div class="col s3">
                <p>
                  <span>Desde</span>
                  <span style="border: 1px solid #c2595e; padding: 10px;"> 10/12/2017 </span>
                </p>
              </div>
              <div class="col s4 hours">
                <hr>
                <!-- <span class="center-align">7 dias</span> -->
              </div>
              <div class="col s3">
                <p>
                  <span>Hasta</span>
                  <span style="border: 1px solid #c2595e; padding: 10px;"> 17/12/2017 </span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- FIN ITEMS -->


    </div>

    <div class="col s12 m4">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title center-align">Detalle de la compra</span>
          <div class="row no-margin padding">
            <p><span class="left">Pasaje</span><span class="right">$ 480</span></p>
          </div>
          <div class="row no-margin padding">
            <p><span class="left">Impuestos, tasas y cargos</span><span class="right">$ 22.408</span></p>
          </div>
          <div class="row no-margin padding">
            <p><span class="left green-text">Descuento Aterrizar.com</span><span class="right">- $ 42.216</span></p>
          </div>
          <div class="row no-margin total padding">
            <p class="texto-medium light"><span class="left big">Total a pagar</span><span class="right bold"> $ 91.382</span></p>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
{% endblock %}
