{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
  
  <h1 class="light">Vuelo</h1>

  <table>
    <tbody>
      <tr>
        <th>Precio</th>
        <td>{{ vuelo.precio }}</td>
      </tr>
      <tr>
        <th>Aerolinea</th>
        <td>{{ vuelo.aerolinea }}</td>
      </tr>
      <tr>
        <th>Disponible</th>
        <td>{{ vuelo.disponible }}</td>
      </tr>
      <tr>
        <th>Fecha</th>
        <td>{{ vuelo.fecha|date('Y-m-d H:m:s') }}</td>
      </tr>
      <tr>
        <th>Id</th>
        <td>{{ vuelo.id }}</td>
      </tr>
      <tr>
        <th>Imagen</th>
        <td>{{ vuelo.imagen }}</td>
      </tr>
    </tbody>
  </table>

  <ul>
    <li>
      <a href="{{ path('vuelo_index') }}">Volver a la lista</a>
    </li>
    <li>
      <a href="{{ path('vuelo_edit', { 'id': vuelo.id }) }}">Editar</a>
    </li>
    <li>
      {{ form_start(delete_form) }}
      <input class="btn" type="submit" value="Eliminar">
      {{ form_end(delete_form) }}
    </li>
  </ul>

</div>
{% endblock %}
