{% extends 'base.html.twig' %}

{% block body %}
    <h1>Hotels list</h1>

    <table>
        <thead>
            <tr>
                <th>Precio</th>
                <th>Nombre</th>
                <th>Disponibilidad</th>
                <th>Id</th>
                <th>Imagen</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for hotel in hotels %}
            <tr>
                <td><a href="{{ path('hotel_show', { 'id': hotel.id }) }}">{{ hotel.precio }}</a></td>
                <td>{{ hotel.nombre }}</td>
                <td>{{ hotel.disponibilidad }}</td>
                <td>{{ hotel.id }}</td>
                <td>{{ hotel.imagen }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('hotel_show', { 'id': hotel.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('hotel_edit', { 'id': hotel.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('hotel_new') }}">Create a new hotel</a>
        </li>
    </ul>
{% endblock %}
