{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
  <h1>Hoteles</h1>

  <table>
    <tbody>
      <tr>
        <th>Id</th>
        <td>{{ hotel.id }}</td>
      </tr>
      <tr>
        <th>Precio</th>
        <td>{{ hotel.precio }}</td>
      </tr>
      <tr>
        <th>Nombre</th>
        <td>{{ hotel.nombre }}</td>
      </tr>
      <tr>
        <th>Disponibilidad</th>
        <td>{{ hotel.disponibilidad }}</td>
      </tr>
    </tbody>
  </table>

  <ul>
    <li>
      <a href="{{ path('hotel_index') }}">Volver a la lista</a>
    </li>
    <li>
      <a href="{{ path('hotel_edit', { 'id': hotel.id }) }}">Editar</a>
    </li>
    <li>
      {{ form_start(delete_form) }}
      <input class="btn" type="submit" value="Eliminar">
      {{ form_end(delete_form) }}
    </li>
  </ul>

</div>
{% endblock %}
