{% extends 'base.html.twig' %}

{% block body %}
<div class="container">

  <h1 class="light">Servicio</h1>

  <table>
    <tbody>
      <tr>
        <th>Id</th>
        <td>{{ servicio.id }}</td>
      </tr>
      <tr>
        <th>Imagen</th>
        <td>{{ servicio.imagen }}</td>
      </tr>
    </tbody>
  </table>

  <ul>
    <li>
      <a href="{{ path('servicio_index') }}">Volver a la lista</a>
    </li>
    <li>
      <a href="{{ path('servicio_edit', { 'id': servicio.id }) }}">Editar</a>
    </li>
    <li>
      {{ form_start(delete_form) }}
      <input class="btn" type="submit" value="Borrar">
      {{ form_end(delete_form) }}
    </li>
  </ul>
</div>
{% endblock %}
