{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
  <div class="row">

<div class="col s12 m3">
  {% include 'busqueda/form_buscador.html.twig' %}
</div>

<div class="col s12 m7">

{% if not hoteles is empty %}
  {% for hotel in hoteles %}
  {# <div class="col s12">
    <div class="card darken-1">
      <div class="card-content">
        <span class="card-title">{{ vuelo.aerolinea }}</span>
        <span class="badge">${{ vuelo.precio }}</span>
        <div class="row no-margin">
          <div class="col s10 no-margin">
            <div class="col s6">
              <span class="left">
                <i class="material-icons left">airplanemode_active</i>
                SALIDA <b>{{ vuelo.fecha|date("m/d/Y") }}</b>- {{ vuelo.fecha|date("H:m") }} HS
              </span>
            </div>
            <div class="col s6">
              <span class="right">
                <i class="material-icons left">airplanemode_active</i>
                LLEGADA <b>{{ vuelo.fechaLlegada|date("m/d/Y") }}</b>- {{ vuelo.fechaLlegada|date("H:m") }} HS
              </span>
            </div>
          </div>

        </div>
        <div class="row no-margin">
          <div class="col s10">
            <div class="col s4">
              <span class="left" style="border: 1px solid #c2595e; padding: 10px;">{{ vuelo.ubicacionOrigen.ciudad }}</span>
            </div>
            <div class="col s4 hours">
              <hr>
              <span class="center-align">{{ vuelo.duracion }}</span>
            </div>
            <div class="col s4">
              <span class="right" style="border: 1px solid #c2595e; padding: 10px;">{{ vuelo.ubicacionDestino.ciudad }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="card-action">
        <form action="{{ path("agregar_carrito") }}" method="post">
          <input type="hidden" name="id" value="{{ vuelo.id }}">
          <input type="hidden" name="fecha_inicio" value="{{ vuelo.fecha|date("Y/m/d H:m:s") }}">
          <input type="hidden" name="fecha_fin" value="{{ vuelo.fechaLlegada|date("Y/m/d H:m:s") }}">
          <input class="btn" type="submit" value="Agregar al carrito">
        </form>
      </div>
    </div>
  </div> #}

{% endfor %}
{% else %}
<div class="col s12" style="margin-top: 4%;">
  <div class="card darken-1">
    <div class="card-content center">
      <span class="card-title">No se han encontrado resultados de búsqueda</span>
    </div>
  </div>
</div>
{% endif %}
</div>

<div class="col s12 m2">

  <div class="card azul-gris border-radius-3">
    <div class="card-content center">
      <img src="https://ar.staticontent.com/shop/flights/css-versioned/9.14.0/despegar/core-flights/img/alerts-icon.svg" class="width-40 border-round z-depth-5">
      <h5 class="white-text lighten-4">Recibe alertas de vuelos</h5>
      <!-- <p class="white-text lighten-4">Por menos de $ 24.282</p> -->
    </div>
  </div>

</div>

</div>
</div>
{% endblock %}
