{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
  <div class="row">

    <!-- <div class="preloader-wrapper active">
    <div class="spinner-layer spinner-red-only">
    <div class="circle-clipper left">
    <div class="circle"></div>
  </div><div class="gap-patch">
  <div class="circle"></div>
</div><div class="circle-clipper right">
<div class="circle"></div>
</div>
</div>
</div> -->

<div class="col s12 m3">
  {% include 'busqueda/form_buscador.html.twig' %}
</div>

<div class="col s12 m7">

  {% for vuelo in vuelos %}
  <div class="col s12">
    <div class="card darken-1">
      <div class="card-content">
        <span class="card-title">{{ vuelo.aerolinea }}</span>
        <span class="badge">${{ vuelo.precio }}</span>
        <p>
          <i class="material-icons">airplanemode_active</i>
          Fecha <b>{{ vuelo.fecha|date("m/d/Y") }}</b>
        </p>
        <div class="row" style="margin-top:18px; margin-bottom: 0">
          <div class="col s2">
            <p>
              <span style="border: 1px solid #c2595e; padding: 10px;">{{ vuelo.ubicacionOrigen.ciudad }}</span>
              <span>{{ "now"|date('H:i') }}</span>
            </p>
          </div>
          <div class="col s8 hours">
            <hr>
            <span class="center-align">11hs 25min</span>
          </div>
          <div class="col s2">
            <p>
              <span>{{ "now"|date('H:i') }}</span>
              <span style="border: 1px solid #c2595e; padding: 10px;">{{ vuelo.ubicacionDestino.ciudad }}</span>
            </p>
          </div>
        </div>
        <!-- <p>
        <i class="material-icons">airplanemode_active</i>
        VUELTA <b>{{ "now"|date("m/d/Y") }}</b>
      </p>

      <div class="row" style="margin-top:18px">
      <div class="col s2">
      <p>
      <span style="border: 1px solid #c2595e; padding: 10px;">EZE</span>
      <span>{{ "now"|date('H:i') }}</span>
    </p>
  </div>
  <div class="col s8 sep">
  <hr>
</div>
<div class="col s2">
<p>
<span style="border: 1px solid #c2595e; padding: 10px;">SJO</span>
<span>{{ "now"|date('H:i') }}</span>
</p>
</div>
</div> -->

</div>
<div class="card-action">
  <form action="{{ path("agregar_carrito") }}" method="post">
    <input type="hidden" name="id" value="{{ vuelo.id }}">
    <input type="hidden" name="fecha_inicio" value="{{ vuelo.fecha|date("Y/m/d H:m:s") }}">
    <input type="hidden" name="fecha_fin" value="{{ vuelo.fechaLlegada|date("Y/m/d H:m:s") }}">
    <input type="submit" value="Agregar al carrito">
  </form>
</div>
</div>
</div>

{% endfor %}

</div>

<div class="col s12 m2">

  <div class="card azul-gris border-radius-3">
    <div class="card-content center">
      <img src="https://ar.staticontent.com/shop/flights/css-versioned/9.14.0/despegar/core-flights/img/alerts-icon.svg" class="width-40 border-round z-depth-5">
      <h5 class="white-text lighten-4">Recibe alertas de vuelos</h5>
      <!-- <p class="white-text lighten-4">Por menos de $ 24.282</p> -->
    </div>
  </div>

</div>

</div>
</div>
{% endblock %}
