<!-- BUSCAR VUELO -->



<div id="buscar_vuelo" class="card azul-gris z-depth-5">
  <div class="card-content white-text">
    <span class="card-title">Encontr치 tu vuelo</span>
    {{ form_start(form_vuelo) }}
      <div class="input-field col s12">
        <span class="material-icons prefix">flight_takeoff</span>
        {{ form_widget(form_vuelo.origen) }}
      </div>
      <div class="input-field col s12">
        <span class="material-icons prefix">flight_land</span>
        {{ form_widget(form_vuelo.destino) }}
      </div>
      <label class="col s12 white-text">FECHA</label>
      <div class="input-field col s12 m12">
        <span class="material-icons prefix">date_range</span>
        {{ form_widget(form_vuelo.fecha) }}
      </div>
      <div class="row center no-margin">
        <div class="input-field col s12" style="padding-top: 10px;">
          {{ form_widget(form_vuelo.buscar) }}
        </div>
      </div>
    {{ form_rest(form_vuelo) }}
    {{ form_end(form_vuelo) }}
  </div>
</div>
<!-- FIN BUSCAR VUELO -->

<!-- BUSCAR HOTEL -->
<div id="buscar_hotel" class="card azul-gris z-depth-5" hidden>
  <div class="card-content white-text">
    <span class="card-title">Busc치 tu hotel</span>
    <form action="#">
      <div class="input-field col s12">
        <span class="material-icons prefix">room</span>
        <input id="ciudad_hotel" class="validate" name="ciudad_hotel" type="text" placeholder="Destino">
      </div>
      <label class="col s12 white-text">FECHAS</label>
      <div class="input-field col s12 m6">
        <span class="material-icons prefix">date_range</span>
        <input id="checkin" name="checkin" type="text" class="datepicker" placeholder="Entrada">
      </div>
      <div class="input-field col s12 m6">
        <span class="material-icons prefix">date_range</span>
        <input id="checkout" name="checkout" type="text" class="datepicker" placeholder="Salida">
      </div>
      <div class="row no-margin center">
        <div class="input-field col s12" style="padding-top: 10px;">
          <input class="btn waves-effect waves-light" type="submit" name="buscar" value="Buscar">
        </div>
      </div>
    </form>
  </div>
</div>
<!-- FIN BUSCAR HOTEL -->

<!-- BUSCAR AUTO -->
<div id="buscar_auto" class="card azul-gris z-depth-5" hidden>
  <div class="card-content white-text">
    <span class="card-title">Alquil치 tu auto</span>
    <form action="#">
      <div class="input-field col s12">
        <span class="material-icons prefix">room</span>
        <input id="ciudad_auto" class="validate" name="ciudad_auto" type="text" placeholder="Ciudad">
      </div>
      <label class="col s12 white-text">FECHAS</label>
      <div class="input-field col s12 m6">
        <span class="material-icons prefix">date_range</span>
        <input id="alquiler" name="alquiler" type="text" class="datepicker" placeholder="Fecha de alquiler">
      </div>
      <div class="input-field col s12 m6">
        <span class="material-icons prefix">date_range</span>
        <input id="devolucion" name="devolucion" type="text" class="datepicker" placeholder="Fecha de devoluci칩n">
      </div>
      <div class="row center no-margin">
        <div class="input-field col s12" style="padding-top: 10px;">
          <input class="btn waves-effect waves-light" type="submit" name="buscar" value="Buscar">
        </div>
      </div>
    </form>
  </div>
</div>
<!-- FIN BUSCAR AUTO -->
