<!-- BUSCAR VUELO -->

<div id="servicio" data-id="{{servicio|default("buscar_vuelo")}}" ></div>

<div id="buscar_vuelo" class="card azul-gris z-depth-5">
  <div class="card-content white-text">
    <span class="card-title">Encontrá tu vuelo</span>
    {{ form_start(form_vuelo) }}
      <div class="input-field col s12">
        <span class="material-icons prefix">flight_takeoff</span>
        {{ form_widget(form_vuelo.origen) }}
      </div>
      <div class="input-field col s12">
        <span class="material-icons prefix">flight_land</span>
        {{ form_widget(form_vuelo.destino) }}
      </div>
      <label class="col s12 white-text">FECHA</label>
      <div class="input-field col s12 m12">
        <span class="material-icons prefix">date_range</span>
        {{ form_widget(form_vuelo.fecha) }}
      </div>
      <div class="row center no-margin">
        <div class="input-field col s12" style="padding-top: 10px;">
          {{ form_widget(form_vuelo.buscar) }}
        </div>
      </div>
    {{ form_rest(form_vuelo) }}
    {{ form_end(form_vuelo) }}
  </div>
</div>
<!-- FIN BUSCAR VUELO -->

<!-- BUSCAR HOTEL -->
<div id="buscar_hotel" class="card azul-gris z-depth-5" hidden>
  <div class="card-content white-text">
    <span class="card-title">Buscá tu hotel</span>
    {{ form_start(form_hotel) }}
      <div class="input-field col s12">
        <span class="material-icons prefix">room</span>
        {{ form_widget(form_hotel.destino) }}
      </div>
      <label class="col s12 white-text">FECHAS</label>
      <div class="input-field col s12 m6">
        <span class="material-icons prefix">date_range</span>
        {{ form_widget(form_hotel.fecha_inicio) }}
      </div>
      <div class="input-field col s12 m6">
        <span class="material-icons prefix">date_range</span>
        {{ form_widget(form_hotel.fecha_fin) }}
      </div>
      <div class="row no-margin center">
        <div class="input-field col s12" style="padding-top: 10px;">
          {{ form_widget(form_hotel.buscar_hotel) }}
        </div>
      </div>
      {{ form_rest(form_hotel) }}
      {{ form_end(form_hotel) }}
  </div>
</div>
<!-- FIN BUSCAR HOTEL -->

<!-- BUSCAR AUTO -->
<div id="buscar_auto" class="card azul-gris z-depth-5" hidden>
  <div class="card-content white-text">
    <span class="card-title">Alquilá tu auto</span>
      {{ form_start(form_auto) }}
      <div class="input-field col s12">
        <span class="material-icons prefix">room</span>
        {{ form_widget(form_auto.destino) }}
      </div>
      <label class="col s12 white-text">FECHAS</label>
      <div class="input-field col s12 m6">
        <span class="material-icons prefix">date_range</span>
        {{ form_widget(form_auto.fecha_inicio) }}
      </div>
      <div class="input-field col s12 m6">
        <span class="material-icons prefix">date_range</span>
        {{ form_widget(form_auto.fecha_fin) }}
      </div>
      <div class="row center no-margin">
        <div class="input-field col s12" style="padding-top: 10px;">
          {{ form_widget(form_auto.buscar_auto) }}
        </div>
      </div>
      {{ form_rest(form_auto) }}
      {{ form_end(form_auto) }}
  </div>
</div>
<!-- FIN BUSCAR AUTO -->
