{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
  <h1 class="light">Listado de ubicaciones</h1>

  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Ciudad</th>
        <th>Pais</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for ubicacion in ubicacions %}
      <tr>
        <td><a href="{{ path('ubicacion_show', { 'id': ubicacion.id }) }}">{{ ubicacion.id }}</a></td>
        <td>{{ ubicacion.ciudad }}</td>
        <td>{{ ubicacion.pais }}</td>
        <td>
          <ul>
            <li>
              <a href="{{ path('ubicacion_show', { 'id': ubicacion.id }) }}">Ver</a>
            </li>
            <li>
              <a href="{{ path('ubicacion_edit', { 'id': ubicacion.id }) }}">Editar</a>
            </li>
          </ul>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <ul>
    <li>
      <a href="{{ path('ubicacion_new') }}">Agregar ubicacion</a>
    </li>
  </ul>

</div>
{% endblock %}
