{% extends 'base.html.twig' %}

{% block body %}
<div class="container">

  <h1 class="light">Ubicacion</h1>

  <table>
    <tbody>
      <tr>
        <th>Id</th>
        <td>{{ ubicacion.id }}</td>
      </tr>
      <tr>
        <th>Ciudad</th>
        <td>{{ ubicacion.ciudad }}</td>
      </tr>
      <tr>
        <th>Pais</th>
        <td>{{ ubicacion.pais }}</td>
      </tr>
    </tbody>
  </table>

  <ul>
    <li>
      <a href="{{ path('ubicacion_index') }}">Volver a la lista</a>
    </li>
    <li>
      <a href="{{ path('ubicacion_edit', { 'id': ubicacion.id }) }}">Editar</a>
    </li>
    <li>
      {{ form_start(delete_form) }}
      <input class="btn" type="submit" value="Eliminar">
      {{ form_end(delete_form) }}
    </li>
  </ul>
</div>
{% endblock %}
