{% extends 'base.html.twig' %}

{% block body %}
<div class="container">

</div>
    <h1>Auto edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input class="btn green" type="submit" value="Editar" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('auto_index') }}">Volver a la lista</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input class="btn" type="submit" value="Borrar">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
