{% extends 'base.html.twig' %}

{% block body %}
    <h1>Autos list</h1>

    <table>
        <thead>
            <tr>
                <th>Precio</th>
                <th>Empresa</th>
                <th>Modelo</th>
                <th>Id</th>
                <th>Imagen</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for auto in autos %}
            <tr>
                <td><a href="{{ path('auto_show', { 'id': auto.id }) }}">{{ auto.precio }}</a></td>
                <td>{{ auto.empresa }}</td>
                <td>{{ auto.modelo }}</td>
                <td>{{ auto.id }}</td>
                <td>{{ auto.imagen }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('auto_show', { 'id': auto.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('auto_edit', { 'id': auto.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('auto_new') }}">Create a new auto</a>
        </li>
    </ul>
{% endblock %}
