{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
  <h1 class="light">Listado de empresas rentadoras</h1>

  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Precio</th>
        <th>Empresa</th>
        <th>Modelo</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for auto in autos %}
      <tr>
        <td><a href="{{ path('auto_show', { 'id': auto.id }) }}">{{ auto.id }}</a></td>
        <td>{{ auto.precio }}</td>
        <td>{{ auto.empresa }}</td>
        <td>{{ auto.modelo }}</td>
        <td>
          <ul>
            <li>
              <a href="{{ path('auto_show', { 'id': auto.id }) }}">Ver</a>
            </li>
            <li>
              <a href="{{ path('auto_edit', { 'id': auto.id }) }}">Editar</a>
            </li>
          </ul>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <ul>
    <li>
      <a href="{{ path('auto_new') }}">Agregar empresa</a>
    </li>
  </ul>

</div>
{% endblock %}
